/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #98c1d9;
  background-color: #293241;
  font-family: 'Noto Sans', sans-serif;
}


#app {
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #3d5a80;
}

/* Header */
h1 {
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1 i {
  padding-right: 10px;
  color: #ee6c4d;
}

/* Main  LISTA TODO*/
section {
  padding: 10px 10px 1px;
  color: #293241;
  background-color: #e0fbfc;
  border-radius: 10px;

}
.new-todo {
  text-align: center;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 12px 28px;
  font-size: 16px;
  border: 0;
  color: #293241;
  background-color: rgba(238,108,77, .8);
  border-radius: 25px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, .6);
  cursor: pointer;
  transition: background-color .4s;
}

.btn:hover {
  background-color: #ee6c4d;
}

.add-todo {
  width: 80%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 30px;
  padding: 0 15px;
  font-size: 16px;
  background-color: rgba(224,251,252, .8);
  border: 0;
  border-radius: 25px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, .4);
  outline: none;
  transition: background .4s;
  cursor: pointer;
}

.add-todo:hover {
  background-color: #e0fbfc;
}

.todos li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0, .2);
}

.todos li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.todos li i {
  font-size: 20px;
  transition: color .4s;
  cursor: pointer;
}
.todos li i:hover {
    color: #ee6c4d;
}

/* show/hidden class */
span {
  font-weight: bold;
}

.show-text {
  display: block;
}

.hidden-text {
  display: none;
}
