<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo List</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway:ital,wght@1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div id="app">
      <header>
        <h1>
          <i class="fas fa-bookmark"></i>
          My Todo List
        </h1>
      </header>
      <main>
        <div class="new-todo">
          <input type="text" name="todo" class="add-todo" v-model="todo"
            @keyup.enter="addNewTodo"  placeholder="Inserisci nuovo Todo">
          <button type="button" name="button" class="btn"
          @click="addNewTodo">
              Aggiungi</button>
        </div>
        <section>
          <ul class="todos"> 
            <li v-for="(todo, index) in todos">
              {{ todo.text}}
              <i  class="far fa-times-circle"
              @click="deleteTodo(index)"> </i>
            </li>
          </ul>
          <span :class="{'show-text': todos.length == 0, 'hidden-text': !todos.length == 0}">Nessun Todo registrato</span>

        </section>


      </main>

    </div>





    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./js/main.js" charset="utf-8"></script>
  </body>
</html>
